@font-face {
  font-family: "Wisdom Script AJ";
  src: url("../fonts/Wisdom Script AJ.otf"); }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #616161;
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0 0 4px; }

.btn-first {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 25px;
  border: 2px solid #38c695;
  background: transparent;
  color: #38c695;
  transition: background .2s linear,color .2s linear; }
  .btn-first:hover {
    background: #38c695;
    color: #fc5f45; }

.btn-secondary {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 25px;
  border: none;
  background: #fc5f45;
  color: #fff;
  transition: background .2s linear; }
  .btn-secondary:hover {
    background: #b27cf5; }

.btn-three {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 25px;
  border: 2px solid #b27cf5;
  background: transparent;
  color: #b27cf5;
  transition: background .2s linear,color .2s linear; }
  .btn-three:hover {
    background: #b27cf5;
    color: #fc5f45; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.section-header {
  text-align: center; }
  .section-header__title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
    color: #313131; }
  .section-header__text {
    font-size: 18px;
    color: #616161; }

.header {
  background: #fff;
  padding: 24px 0; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    line-height: 0.771;
    font-size: 35px;
    font-family: "Wisdom Script AJ"; }
    .header__logo a {
      color: #616161; }
    .header__logo_start {
      color: #fc5f45; }
  .header-list {
    display: flex; }
    .header-list__nav + .header-list__nav {
      margin-left: 18px; }
    .header-list__link {
      font-size: 14px;
      color: #272727;
      font-weight: 600;
      position: relative; }
      .header-list__link:hover:after {
        width: 100%; }
      .header-list__link:after {
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background: #fc5f45;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: width .2s linear; }

.hero {
  background: rgba(38, 39, 50, 0.85);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero-wrapper {
    max-width: 850px;
    margin: 0 auto;
    text-align: center; }
    .hero-wrapper-top__title {
      font-weight: normal;
      font-size: 60px;
      color: #ffffff;
      font-family: 'Libre Baskerville', serif; }
    .hero-wrapper-top__button {
      margin-top: 35px; }
    .hero-wrapper-top__btn {
      cursor: pointer;
      padding: 14px 40px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      background: #fc5f45;
      border-radius: 25px;
      position: relative;
      transition: color .2s linear; }
      .hero-wrapper-top__btn span {
        position: relative;
        z-index: 1; }
      .hero-wrapper-top__btn:hover {
        color: #0a0908; }
        .hero-wrapper-top__btn:hover:after {
          transform: scale(1); }
      .hero-wrapper-top__btn:after {
        background-color: green;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: transform .4s linear; }
    .hero-wrapper__features {
      margin: 70px auto 0;
      max-width: 800px;
      display: flex; }
    .hero-wrapper__column {
      flex: 0 1 33.33333%;
      padding: 0 15px; }
    .hero-wrapper-item__iccon {
      margin-bottom: 20px; }
    .hero-wrapper-item__link {
      width: 35px;
      height: 35px;
      fill: #38c695;
      transition: transform .2s linear; }
      .hero-wrapper-item__link:hover {
        transform: translateY(-7px); }
      .hero-wrapper-item__link--2 {
        fill: #b27cf5; }
      .hero-wrapper-item__link--3 {
        fill: #feb960; }
    .hero-wrapper-item__title {
      font-size: 18px;
      font-weight: 500;
      color: #38c695;
      text-transform: uppercase; }
      .hero-wrapper-item__title--2 {
        color: #b27cf5; }
      .hero-wrapper-item__title--3 {
        color: #feb960; }

.about {
  background: #fff;
  padding: 150px 0; }
  .about__body {
    position: relative; }
  .about__img img {
    max-width: 100%;
    height: auto;
    display: block; }
  .about__content {
    width: 650px;
    height: 550px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    padding: 80px 70px 80px 75px;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
    transform: translate3d(0, -50%, 0); }
    .about__content::after {
      content: " ";
      display: block;
      background: url("../../images/about us/Lines.png") no-repeat bottom;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      z-index: 1; }
  .about__title {
    font-size: 50px;
    color: #313131;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    margin-bottom: 25px; }
  .about__text {
    font-size: 15px;
    color: #616161;
    line-height: 1.8; }
    .about__text + .about__text {
      margin-top: 20px; }

.services {
  background: #f7f7f7;
  padding: 120px 0; }
  .services__inner {
    display: flex;
    margin-top: 75px; }
  .services__column {
    padding: 60px 20px;
    border-bottom: 3px solid #fc5f45;
    flex: 0 1 25%;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
    .services__column + .services__column {
      margin-left: 30px; }
    .services__column_2 {
      border-bottom: 3px solid #38c695; }
    .services__column_3 {
      border-bottom: 3px solid #b27cf5; }
    .services__column_4 {
      border-bottom: 3px solid #feb960; }
  .services-item {
    text-align: center; }
    .services-item__iccon {
      margin-bottom: 20px; }
    .services-item__title {
      font-size: 20px;
      color: #616161;
      font-weight: 500;
      margin-bottom: 30px; }
    .services-item__description {
      font-size: 15px;
      color: #616161;
      line-height: 1.667; }

.section-video {
  background: rgba(38, 39, 50, 0.85);
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section-video__inner {
    text-align: center; }
  .section-video__title {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 25PX; }
  .section-video__iccon {
    margin-bottom: 25px; }
  .section-video__text {
    font-size: 15px;
    color: #ffffff; }

.portfolio {
  background: #ffffff;
  padding: 120px 0 95px; }
  .portfolio__body {
    display: flex;
    flex-wrap: wrap;
    margin: 70px -10px 0; }
  .portfolio__column {
    flex: 0 1 33.33333%;
    padding: 0 10px 25px; }
  .portfolio-item {
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
    .portfolio-item:hover {
      padding: 5px 5px 0 5px; }
      .portfolio-item:hover:after {
        opacity: 1; }
      .portfolio-item:hover .portfolio-item__hover {
        display: block; }
      .portfolio-item:hover .portfolio-item__iccon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate3d(-50%, -100%, 0); }
      .portfolio-item:hover .portfolio-item__img::after {
        content: " ";
        display: block;
        width: 100%;
        height: 3px;
        background: url("../../images/about us/Lines.png") no-repeat bottom; }
      .portfolio-item:hover .portfolio-item__img img {
        height: 225px; }
    .portfolio-item__img img {
      width: 100%;
      height: auto;
      display: block; }
    .portfolio-item__hover {
      text-align: center;
      padding: 25px 0;
      display: none; }
    .portfolio-item__title {
      font-size: 18px;
      font-weight: 500;
      color: #313131; }

.team {
  background: #f7f7f7;
  padding: 140px 0; }
  .team__row {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; }
  .team__column {
    background: #fff;
    flex: 0 1 25%;
    border-bottom: 3px solid #fc5f45; }
    .team__column + .team__column {
      margin-left: 25px; }
    .team__column_2 {
      border-bottom: 3px solid #38c695; }
    .team__column_3 {
      border-bottom: 3px solid #b27cf5; }
    .team__column_4 {
      border-bottom: 3px solid #feb960; }
  .team-item {
    padding: 5px 5px 0 5px; }
    .team-item__name {
      text-align: center;
      padding-top: 20px;
      font-size: 18px;
      color: #fc5f45;
      font-weight: 500; }
      .team-item__name_2 {
        color: #38c695; }
      .team-item__name_3 {
        color: #b27cf5; }
      .team-item__name_4 {
        color: #feb960; }
    .team-item__pos {
      margin-top: 7px;
      padding-bottom: 15px;
      font-size: 13px;
      color: #616161;
      text-align: center; }
  .team-footer {
    position: relative;
    margin-right: -27px;
    margin-top: 45px;
    background: #fff;
    padding: 70px 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
    .team-footer:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 28.5px 37px 28.5px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      top: -37px;
      left: 100px;
      z-index: 1; }
    .team-footer__title {
      font-size: 20px;
      font-weight: 500;
      color: #272727;
      margin-bottom: 20px; }
    .team-footer__body {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .team-footer__text {
      font-size: 15px;
      color: #616161;
      flex: 0 0 70%; }
    .team-footer__iccon {
      display: flex;
      align-items: center;
      padding-left: 20px; }
    .team-footer__img {
      padding-right: 30px;
      position: relative; }
      .team-footer__img:before {
        content: " ";
        display: block;
        width: 2px;
        height: 150px;
        background: #efefef;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate3d(-50%, -50%, 0); }
    .team-footer__social {
      padding-left: 22px; }
    .team-footer-list__item + .team-footer-list__item {
      margin-top: 10px; }
    .team-footer-list__link {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #616161; }
      .team-footer-list__link span {
        margin-left: 7px; }

.statistic {
  background: url("../../images/statistic/bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  padding: 120px 0; }
  .statistic:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(38, 39, 50, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100; }
  .statistic .container {
    max-width: 1000px;
    position: relative;
    z-index: 1000; }
  .statistic__body {
    display: flex;
    justify-content: space-between; }
  .statistic__column {
    flex: 0 0 25%; }
  .statistic-item {
    text-align: center; }
    .statistic-item__iccon {
      margin-bottom: 15px; }
    .statistic-item__number {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 20px; }
    .statistic-item__title {
      font-size: 15px;
      color: #fff;
      margin-bottom: 25px;
      font-weight: normal; }

.steps {
  padding: 120px 0;
  background: #ffffff; }
  .steps__inner {
    margin-top: 120px;
    display: flex;
    flex-direction: column; }
  .steps__item {
    margin-top: -10px; }
  .steps__column {
    margin: 0 auto; }
  .steps .item-1 {
    position: relative; }
  .steps .item-2 {
    position: relative; }
  .steps__block_first {
    position: absolute;
    top: -40px;
    left: -300px;
    z-index: 2; }
  .steps__block_secondary {
    position: absolute;
    bottom: 40px;
    left: 300px;
    z-index: 2; }
  .steps-block {
    display: flex;
    width: 450px;
    background: #fff;
    padding: 50px 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #fc5f45; }
    .steps-block__number {
      position: relative;
      margin-top: -15px;
      font-size: 50px;
      color: #e0e0e0;
      font-weight: 700;
      font-family: 'Libre Baskerville', serif;
      margin-right: 25px; }
      .steps-block__number:after {
        content: " ";
        display: block;
        background: url("../../images/steps/number-line.png") no-repeat;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2; }
    .steps-block__title {
      font-size: 25px;
      color: #272727;
      font-weight: normal;
      margin-bottom: 20px; }
    .steps-block__description {
      font-size: 15px;
      color: #616161;
      line-height: 1.8; }
    .steps-block__img img {
      display: block; }

.price {
  background: #f7f7f7;
  padding: 120px 0; }
  .price__body {
    display: flex;
    margin-top: 75px; }
  .price__column {
    flex: 0 1 33.33333%;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
    .price__column + .price__column {
      margin-left: 20px; }
  .price-item {
    text-align: center;
    padding: 35px 60px;
    border-top: 3px solid #38c695; }
    .price-item__secondary {
      border-top: 3px solid #fc5f45; }
    .price-item__three {
      border-top: 3px solid #b27cf5; }
    .price-item__title {
      font-size: 20px;
      color: #616161;
      margin-bottom: 20px; }
    .price-item__block {
      width: 118px;
      padding: 30px 15px;
      background: #38c695;
      border-radius: 50%;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0 0 3px 100% #38c695; }
      .price-item__block_two {
        background: #fc5f45; }
      .price-item__block_three {
        background: #b27cf5; }
    .price-item__line {
      height: 130px;
      width: 130px;
      margin: 0 auto 25px;
      border-radius: 50%;
      border: 3px solid #38c695;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .price-item__line_two {
        border: 3px solid #fc5f45; }
      .price-item__line_three {
        border: 3px solid #b27cf5; }
    .price-item__price {
      font-size: 25px;
      color: #fff; }
    .price-item__month {
      font-size: 13px;
      color: #fff; }
    .price-item-list__item {
      font-size: 15px;
      color: #616161; }
      .price-item-list__item + .price-item-list__item {
        margin-top: 20px; }
      .price-item-list__item span {
        color: #272727;
        font-weight: 500; }
    .price-item__button {
      margin-top: 30px; }

.testimonials {
  background: rgba(38, 39, 50, 0.85);
  padding: 120px 0; }
  .testimonials .section-header__title {
    color: #ffffff; }
  .testimonials .section-header__text {
    color: #ffffff; }
  .testimonials__item {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .testimonials__img {
    border: 10px solid #a3a3a3; }
    .testimonials__img img {
      max-width: 100%;
      display: block; }
  .testimonials__content {
    padding: 45px 75px 45px 45px;
    width: 750px;
    background: #fff;
    border-bottom: 3px solid #fc5f45; }
  .testimonials__text {
    font-size: 15px;
    color: #616161;
    line-height: 1.8;
    margin-bottom: 30px; }
  .testimonials__name {
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    color: #272727;
    margin-bottom: 15px; }
  .testimonials__surname {
    font-size: 18px;
    color: #272727;
    font-weight: 500;
    margin-bottom: 7px; }
  .testimonials__pos {
    font-size: 13px;
    color: #fc5f45; }

.choose {
  background: #ffffff;
  padding: 120px 0; }
  .choose__body {
    margin: 75px -35px 0;
    display: flex;
    flex-wrap: wrap; }
  .choose__column {
    flex: 1 1 33.33333%;
    padding: 0 35px;
    margin-bottom: 60px; }
  .choose-item__header {
    display: flex;
    width: 100%;
    max-width: 195px;
    margin-bottom: 25px; }
  .choose-item__iccon {
    margin-right: 15px; }
    .choose-item__iccon img {
      display: block; }
  .choose-item__title {
    font-size: 18px;
    color: #272727;
    font-weight: 500;
    line-height: 1.444; }
  .choose__description {
    font-size: 15px;
    color: #616161;
    line-height: 1.8; }
  .choose-footer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .choose-footer__title {
      font-size: 25px;
      color: #272727;
      margin-right: 20px; }

.blog {
  background: #f7f7f7;
  padding: 120px 0; }
  .blog__body {
    margin-top: 75px;
    display: flex; }
  .blog-column {
    flex: 0 0 50%; }
    .blog-column + .blog-column {
      padding-left: 25px; }
    .blog-column__header {
      position: relative; }
    .blog-column__img img {
      display: block; }
    .blog-column__block {
      display: flex;
      align-items: center;
      position: absolute;
      left: 45px;
      bottom: 30px;
      z-index: 1; }
    .blog-column__name {
      text-transform: uppercase;
      font-size: 15px;
      color: #fc5f45;
      font-weight: 500;
      margin-right: 25px; }
    .blog-column__time {
      font-size: 13px;
      color: #616161; }
    .blog-column__footer {
      border-bottom: 3px solid #fc5f45;
      background: #fff;
      padding: 50px 45px; }
    .blog-column__title {
      font-size: 19px;
      color: #272727;
      font-weight: 500;
      line-height: 1.75;
      margin-bottom: 10px; }
    .blog-column__text {
      line-height: 1.8;
      font-size: 15px;
      color: #616161;
      max-width: 430px; }
      .blog-column__text a:hover {
        text-decoration: underline; }
    .blog-column__item {
      padding: 25px 45px;
      background: #fff;
      border-bottom: 3px solid #38c695; }
      .blog-column__item + .blog-column__item {
        margin-top: 20px; }
      .blog-column__item_two {
        border-bottom: 3px solid #b27cf5; }
      .blog-column__item_three {
        border-bottom: 3px solid #feb960; }
    .blog-column__row {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
  .blog .color-g {
    color: #38c695; }
  .blog .color-f {
    color: #b27cf5; }
  .blog .color-o {
    color: #feb960; }
  .blog .color-b {
    color: #272727; }

.subscribe {
  background: #fff;
  padding: 120px 0; }
  .subscribe__wrapper {
    text-align: center; }
  .subscribe__title {
    font-size: 30px;
    color: #272727;
    margin-bottom: 40px;
    font-weight: normal; }
  .subscribe-form {
    display: flex;
    justify-content: center; }
    .subscribe-form__email .input {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      font-size: 16px;
      color: #616161;
      text-align: left;
      padding: 0 100px 0 25px;
      border: 2px solid #efefef;
      border-right: 0;
      background: #f7f7f7;
      height: 50px; }
      .subscribe-form__email .input:focus {
        outline: none; }
    .subscribe-form__submit .button {
      cursor: pointer;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      height: 50px;
      padding: 0 25px;
      border: none;
      background: #fc5f45; }
      .subscribe-form__submit .button:focus {
        outline: none; }

.contact {
  background: #cccccc;
  padding: 120px 0; }
  .contact__body {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contact-form {
    width: 100%;
    max-width: 750px;
    margin: 0 auto; }
    .contact-form__row {
      display: flex;
      margin-bottom: 20px; }
    .contact-form__input {
      flex-grow: 1; }
      .contact-form__input + .contact-form__input {
        margin-left: 20px; }
      .contact-form__input .input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: #616161;
        text-align: center;
        border: 1px solid #efefef;
        background: #fff;
        border-radius: 5px; }
        .contact-form__input .input:focus {
          outline: none; }
    .contact-form__line {
      flex-grow: 1;
      margin-bottom: 45px; }
      .contact-form__line .textarea {
        padding-top: 15px;
        height: 200px;
        width: 100%;
        font-size: 16px;
        color: #616161;
        text-align: center;
        border: 1px solid #efefef;
        background: #fff;
        border-radius: 5px; }
        .contact-form__line .textarea:focus {
          outline: none; }
    .contact-form__button {
      text-align: center; }
    .contact-form__btn {
      cursor: pointer;
      padding: 15px 35px; }
      .contact-form__btn:focus {
        outline: none; }

.footer {
  margin-top: 120px; }
  .footer:after {
    content: " ";
    display: block;
    background: url("../../images/footer/lines.png") no-repeat bottom;
    width: 100%;
    height: 3px; }
  .footer__block {
    background: #3f4049;
    padding: 55px;
    display: flex;
    justify-content: space-between; }
  .footer-col {
    flex-basis: 25%; }
    .footer-col + .footer-col {
      margin-left: 75px; }
    .footer-col__logo {
      margin-top: 25px;
      font-size: 50px;
      color: #fef4f2;
      font-family: "Wisdom Script AJ"; }
      .footer-col__logo span {
        color: #fc5f45; }
    .footer-col__title {
      font-size: 18px;
      color: #38c695;
      font-weight: 500;
      margin-bottom: 25px; }
      .footer-col__title_two {
        color: #b27cf5; }
      .footer-col__title_three {
        color: #feb960; }
    .footer-col__address address {
      font-size: 16px;
      color: #fef4f2;
      line-height: 1.5;
      font-style: normal; }
    .footer-col__social {
      display: flex; }
    .footer-col__item + .footer-col__item {
      margin-left: 15px; }
