@mixin fWisd(){
    font-family: "Wisdom Script AJ";
}

@mixin fBasker(){
    font-family: 'Libre Baskerville', serif;
}

@mixin fSacram(){
    font-family: 'Sacramento', cursive;
}

@mixin btn(){
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px;
    border-radius: 25px;
}