.about{
    background:#fff;
    padding: 150px 0;
    .container{

    }
    &__body{
        position: relative;
    }

    &__img{
        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &__content{
        width: 650px;
        height: 550px;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
        padding: 80px 70px 80px 75px;
        position: absolute;
        top:50%;
        left:40%;
        z-index: 1;
        transform: translate3d(0,-50%,0);

        &::after{
            content: " ";
            display: block;
            background: url("../../images/about us/Lines.png") no-repeat bottom;
            position: absolute;
            width: 100%;
            height: 3px;
            left:0;
            bottom:0;
            z-index: 1;
        }
    }
    &__title{
        font-size: 50px;
        color:$title-color;
        @include fBasker;
        font-weight: 700;
        margin-bottom: 25px;
    }
    &__text{
        font-size: 15px;
        color:$main-color;
        line-height: 1.8;
        
        & + &{
            margin-top: 20px;
        }
    }
}

