.about{
    background:#fff;
    .container{
        
    }
    &__body{
        position: relative;
    }

    &__img{
        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &__content{
        width: 650px;
        height: 550px;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
        padding: 80px 70px 80px 75px;
        position: absolute;
        top:50%;
        left:40%;
        z-index: 1;
        transform: translate3d(0,-50%,0);

        &::after{
            content: " ";
            display: block;
            background: url("../../images/about us/Lines.png") no-repeat bottom;
            position: absolute;
            width: 100%;
            height: 3px;
            left:0;
            bottom:0;
            z-index: 1;
        }
    }
    &__title{
        font-size: 50px;
        color:$title-color;
        @include fBasker;
        font-weight: 700;
        margin-bottom: 25px;
    }
    &__text{
        font-size: 15px;
        color:$main-color;
        line-height: 1.8;
        
        & + &{
            margin-top: 20px;
        }
    }

    @media (max-width:$screen-lg-max){
        &__content{
            width: 550px;
            height: 550px;
        }
    }

    @media (max-width:$screen-md-max){
        &__content{
            left:35%;
            width: 460px;
            padding: 20px 70px 80px 75px;
        }
    }

    @media (min-width:$screen-md){
        padding: 150px 0;
    }

    @media (max-width:$screen-sm-max){
        padding: 75px 0;
        &__content{
           left:16%;
        }
        &__title{
           
        }
        &__text{
            
        }
        &__img{
            img{
                width: 450px;
                height: 630px;
            }
        }
    }

    @media (max-width:$screen-xs-max){
        &__content{
            width: 340px;
            padding: 20px 20px 0 20px;
        }
        &__title{
            font-size: 35px;
            margin-bottom: 15px;
        }
        &__img{
            img{
                width: 400px;
                height: 510px;
            }
        }
    }

    @media (max-width:440px){
        &__img{
            img{
                opacity: 0;
            }
        }
        &__content{
            left:0%;
            width: 295px;
        }
        &__text{
            font-size: 14px;
        }
    }
}

