.blog{
    background: #f7f7f7;
    &__body{
        margin-top: 75px;
        display: flex;
    }
    &-column{
        flex: 0 0 50%;

        &__header{
           position: relative;
        }
        &__img{
            img{
                max-width: 100%;
                display: block;
                height: auto;
            }
        }
        &__block{
            display: flex;
            align-items: center;
            position: absolute;
            left:45px;
            bottom:30px;
            z-index: 1;
        }
        &__name{
            text-transform: uppercase;
            font-size: 15px;
            color:#fc5f45;
            font-weight: 500;
            margin-right: 25px;
        }
        &__time{
            font-size: 13px;
            color:#616161;
        }
        &__footer{
            border-bottom: 3px solid #fc5f45;
            background: #fff;
            padding: 50px 45px;
        }
        &__title{
            font-size: 19px;
            color:#272727;
            font-weight: 500;
            line-height: 1.75;
            margin-bottom: 10px;
        }
        &__text{
            line-height: 1.8;
            font-size: 15px;
            color:$main-color;
            max-width: 430px;

            a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &__item{
            & + &{
                margin-top: 20px;
            }
            padding: 25px 45px;
            background: #fff;
            border-bottom: 3px solid #38c695;
            
            &_two{
                border-bottom: 3px solid #b27cf5;
            }
            &_three{
                border-bottom: 3px solid #feb960;
            }
        }
        
        &__row{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }
    .color-g{
        color:#38c695;
    }
    .color-f{
        color:#b27cf5;
    }
    .color-o{
        color:#feb960;
    }
    .color-b{
        color:#272727;
    }

    @media (min-width:$screen-lg){
    }
    
    @media (max-width:$screen-md-max){
        &-column{
            &__item{
                padding: 25px 15px;
            }
            &__footer{
                padding: 25px 15px;
            }
        }
    }

    @media (min-width:$screen-md){
        padding: 120px 0;
        &-column{
            & + &{
                padding-left: 25px;
            }
        }
    }
    
    @media (max-width:$screen-sm-max){
        padding: 60px 0;
        &__body{
            margin-top: 35px;
            display: flex;
            flex-direction: column;
        }
        &-column{
            &__header{
                max-width: 500px;
                margin: 0 auto 25px;
            }
            &__footer{
                max-width: 500px;
                margin: 0 auto 25px;
            }
            &__item{
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }

    @media (min-width:$screen-sm){
    }
    
    @media (max-width:$screen-xs-max){
        &-column{
            &__name{
                font-size: 12px;
            }
            &__title{
                font-size: 15px;
                line-height: 1.4;
            }
            &__text{
                font-size: 11px;
                line-height: 1.6;
            }
        }
    }
}

