.choose{
    background: #ffffff;
    padding: 120px 0;
    &__body{
        margin: 75px -35px 0;
        display: flex;
        flex-wrap: wrap;
    }   
    &__column{
        flex:1 1 33.33333%;
        padding: 0 35px;
        margin-bottom: 60px;
    }
    &-item{
        &__header{
            display: flex;
            width: 100%;
            max-width: 195px;
            margin-bottom: 25px;
        }
        &__iccon{
            margin-right: 15px;
            img{
                display: block;
            }
        }
        &__title{
            font-size: 18px;
            color:#272727;
            font-weight: 500;
            line-height: 1.444;
        }
    }
    &__description{
        font-size: 15px;
        color:$main-color;
        line-height: 1.8;
    }

    &-footer{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__title{
            font-size: 25px;
            color:#272727;
            margin-right: 20px;
        }
    }
}

