.footer{
    &:after{
        content: " ";
        display: block;
        background: url("../../images/footer/lines.png") no-repeat bottom;
        width: 100%;
        height: 3px;
    }
    
    &__block{
        background:#3f4049;
        padding: 55px;
        display: flex;
        justify-content: space-between;
    }
    &-col{
        flex-basis: 25%;
        &__logo{
            margin-top: 25px;
            font-size: 50px;
            color:#fef4f2;
            @include fWisd;
            span{
                color:#fc5f45;
            }
        }
        &__title{
            font-size: 18px;
            color:#38c695;
            font-weight: 500;
            margin-bottom: 25px;

            &_two{
                color:#b27cf5;
            }
            &_three{
                color:#feb960;
            }
        }
        &__address{
            address{
                font-size: 16px;
                color:#fef4f2;
                line-height: 1.5;
                font-style: normal;
            }
        }
        &__social{
            display: flex;
        }
    }

    @media (min-width:$screen-xl){
    }
    
    @media (max-width:$screen-lg-max){
        &::after{
            background: none;
        }
    }

    @media (min-width:$screen-lg){
        &-col{
            &__item{
                & + &{
                    margin-left: 15px;
                }
            }
        }
    }
    
    @media (max-width:$screen-md-max){
        &__block{
            padding: 30px;
        }
        &-col{
            &__title{
                font-size: 16px;
            }
            &__address{
                address{
                    font-size: 13px;
                }
            }
            &__social{
                display: flex;
                flex-direction: column;
            }
        }
    }

    // 768-767

    @media (min-width:$screen-md){
        margin-top:120px;
        &-col{
            & + &{
                margin-left: 75px;
            }
        }
    }
    
    @media (max-width:$screen-sm-max){
        margin-top:60px;

        &__block{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &-col{
            max-width: 200px;
            flex-basis: 50%;
            margin-bottom: 25px;
            margin-left: 70px;
            &__logo{
                margin-top: 0;
            }
            &__social{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            &__item{
                & + &{
                    margin-left: 10px;
                }
            }
        }
    }

    @media (max-width:689px){
        &-col{
            margin-left: 0;
            flex-basis: 100%;
        }
    }
}

