.services{
    background: #f7f7f7;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__column{
        padding: 60px 20px;
        border-bottom: 3px solid #fc5f45;
        flex: 0 1 25%;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);

        &_2{
            border-bottom: 3px solid #38c695;
        }
        &_3{
            border-bottom: 3px solid #b27cf5;
        }
        &_4{
            border-bottom: 3px solid #feb960;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
       
        &__title{
            color:$main-color;
            font-weight: 500;
            flex:1 1 auto;
        }
        &__description{
            font-size: 15px;
            color:$main-color;
            line-height: 1.667;
        }
    }

    @media (min-width:$screen-lg){
        &__column{
            & + &{
                margin-left: 30px;
            }
        }
    }
    
    @media (max-width:$screen-md-max){
        &__inner{
            display: flex;
            flex-wrap: wrap;
        }
        &__column{
            flex: 0 1 49%;
            margin-bottom: 25px;
        }
    }

    @media (min-width:$screen-md){
        padding: 120px 0 95px 0;
        &__inner{
            margin-top: 75px;
        }
        &-item{
            &__iccon{
                margin-bottom: 20px;
            }
            &__title{
                margin-bottom:30px;
            }
        }
    }
    
    @media (max-width:$screen-sm-max){
        padding: 60px 0;
        &__inner{
            margin-top:50px;
        }
        &-item{
            &__iccon{
                margin-bottom: 10px;
            }
            &__title{
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width:495px){
        &__column{
            flex-basis: 100%;
            padding: 30px 15px;
        }
    }
}

