.team{
    background: #f7f7f7;
    padding: 140px 0;
    &__row{
        display: flex;
        justify-content: space-between;
        margin-top:60px;
    }
    &__column{
        background: #fff;
        flex:0 1 25%;
        border-bottom: 3px solid #fc5f45;
        &_2{
            border-bottom: 3px solid #38c695;
        }
        &_3{
            border-bottom: 3px solid #b27cf5;
        }
        &_4{
            border-bottom: 3px solid #feb960;
        }
    }
    &-item{
        padding: 5px 5px 0 5px;
        &__name{
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
            color:#fc5f45;
            font-weight: 500;
            &_2{
                color:#38c695;
            }
            &_3{
                color:#b27cf5;
            }
            &_4{
                color:#feb960;
            }
        }
        &__pos{
            margin-top: 7px;
            padding-bottom: 15px;
            font-size: 13px;
            color:$main-color;
            text-align: center;
        }

        &__img{
            img{
                max-width:100%;
            }
        }
    }

    &-footer{
        position: relative;
        &:before{
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 28.5px 37px 28.5px;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            top:-37px;
            left:100px;
            z-index: 1;
        }
        margin-top: 45px;
        background: #fff;
        padding: 70px 100px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        &__title{
            font-size: 20px;
            font-weight: 500;
            color:#272727;
            margin-bottom: 20px;
        }
        &__body{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__text{
            font-size: 15px;
            color:$main-color;
            flex: 0 0 70%;
        }
        &__iccon{
            display: flex;
            align-items: center;
            
            padding-left: 20px;
        }
        &__img{
            padding-right: 30px;
            position: relative;
            
            &:before{
                content: " ";
                display: block;
                width: 2px;
                height: 150px;
                background: #efefef;
                position: absolute;
                top:50%;
                left:100%;
                transform: translate3d(-50%,-50%,0);
            }
        }
        &__social{
            padding-left: 22px;
        }
        &-list{
            &__item{
                & + &{
                    margin-top: 10px;
                }
            }
            &__link{
                display: flex;
                align-items: center;
                font-size: 15px;
                color:$main-color;

                span{
                    margin-left: 7px;
                }
            }
        }
    }

    @media (min-width:$screen-xl){
        &__column{
            & + &{
                margin-left: 25px;
            }
        }

        &-footer{
            margin-right: -27px;
        }
    }
    
    @media (max-width:$screen-lg-max){
        &__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__column{
            flex-basis: 50%;
            max-width:350px;
            margin-bottom: 25px;

            &_2,&_4{
                margin-left: 25px;
            }
        }
        &-item{
            text-align: center;
            &__img{
                margin: 0 auto;
            }
        }
    }

    @media (min-width:$screen-md){
        padding: 140px 0;
    }
    
    @media (max-width:$screen-sm-max){
        padding: 70px 0;

        &__row{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__column{
            flex-basis:100%;
            margin: 0 auto 25px;
        }

        &-footer{
            &__text{
                font-size: 13px;
            }
            &__body{
                flex-direction: column;
                justify-content: center;
            }
            &__text{
                margin-bottom: 25px;
            }
        }
    }

    @media (min-width:$screen-sm){
    }
    
    @media (max-width:$screen-xs-max){
        &-footer{
            padding: 20px;
        }
    }
}

