.section-video{
    background:rgba(38,39,50,.85);
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__inner{
        text-align: center;
    }
    &__title{
        font-size: 30px;
        color:#fff;
        font-weight: normal;
        margin-bottom: 25PX;
    }
    &__iccon{
        margin-bottom: 25px;
    }
    &__text{
        font-size: 15px;
        color:#ffffff;
    }
}